absl-py==0.12.0
allure-pytest==2.9.42
allure-python-commons==2.9.42
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==6.7
dm-sonnet==1.23
easydict==1.8
Flask==1.1.4
idna==2.10
importlib-metadata==4.4.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
luminoth==0.2.3
lxml==4.6.3
MarkupSafe==2.0.1
numpy==1.20.3
packaging==20.9
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
PyYAML==3.13
requests==2.25.1
scikit-video==1.1.11
scipy==1.6.3
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
Werkzeug==1.0.1
zipp==3.4.1
